.App {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

input {
  margin: 10px;
  padding: 5px;
}

button {
  margin: 10px;
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
